.venv/
__pycache__/
.DS_Store
.env
.env.local
*.7z
*.txt
.env.development.local
.env.test.local
.env.production.local
outputs/
data/
logs/
unsloth_compiled_cache/
gemma-3/
*.csv
wandb/
*.gguf
Modelfile
gemma3-heb-g2p/
onnx-infer/gemma3_onnx/
*.tsv